.navigationItem {
  font-weight: 400;
  font-size: 105%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "GoogleSansRegular", sans-serif;
  transition: border 0.2s, background 0.175s;
}

.nonSticky {
  padding: 15px 12px;
}

.sticky {
  padding: 15px 12px;
}
