a {
  color: white;
  text-decoration: underline;
}

.attributes {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: white;
  font-size: 13px;
}

.hero-text {
  position: absolute;
  top: 37%;
  left: 16%;
}

.hero-text h1 {
  color: white;
  font-weight: 300;
  font-size: 300%;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
}
