a {
  color: white;
}

.attributes {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: white;
  font-size: 13px;
}

.hero-container {
  position: absolute;
  top: 37%;
  left: 10%;
}

.hero-container__text--normal {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 350%;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  color: white;
}

.hero-container__text--typewrite {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 350%;
  color: white;
  text-transform: uppercase;
}

.typewrite {
  margin: 0 10px;
}
