.headerLine {
  margin-bottom: 50px;
}

.content {
  display: flex;
}

.content_technologyList {
  flex: 0 0 40%;
}

.content_article {
  flex: 1 1 100%;
  margin-top: 20px;
  margin-left: 40px;
}

.content_article h1 {
  margin-bottom: 10px;
}

.content_article p {
  font-size: 18px;
}
