.MemberRequirementCard {
  display: flex;
}

.MemberRequirementCard_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.MemberRequirementCard_column {
  flex: 1 1 20%;
}

.MemberRequirementCard_content h2 {
  margin-bottom: 20px;
}

.MemberRequirementCard_content p {
  font-size: 20px;
  font-weight: 300;
}

.MemberRequirementCard_image img {
  border-radius: 10px;
  max-width: 350px;
  height: auto;
}
