@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 100, 0, 0.6)),
    url(../../assets/images/DLSU-Manila-Campus.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
