.section-about-us__about {
  display: flex;
}

.section-about-us__img {
  flex: 1 1 50%;
}

.section-about-us__img img {
  max-width: 450px;
  height: 450px;
  border-radius: 2%;
  overflow: hidden;
  object-fit: cover;
}

.section-about-us__about .column {
  flex: 1 1 50%;
}

.section-about-us__about p {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 150%;
}

.section-container__statement-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.statement-list__statement-card {
  flex: 1 1 100%;
  margin-right: 20px;
}

.statement-list__statement-card:last-child {
  margin-right: 0;
}
