.SectionAboutUs {
  display: flex;
  padding-bottom: 60px;
}

.SectionAboutUs p {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 300;
  text-align: justify;
}

.SectionAboutUs_column {
  flex: 1 1 50%;
}

.SectionAboutUs_image {
  flex: 1 1 50%;
}

.SectionAboutUs_image img {
  max-width: 450px;
  height: 450px;
  border-radius: 2%;
  overflow: hidden;
  object-fit: cover;
}

.SectionAboutUsStatements {
  margin-top: 50px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 0 10px #dbdbdb;
}

.StatementCard {
  flex: 1 1 100%;
}
