nav img {
  height: 25px;
  width: auto;
  padding-left: 10px;
}

nav {
  padding-top: 30px;
  display: flex;
  transition: background 0.5s;
  font-weight: 400;
}

.navigation--sticky {
  background-color: rgba(255, 255, 255, 0.97);
  padding: 20px 0;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 10px #afafaf;
}

.navigation--sticky .navigation-logo span {
  color: green;
}

.navigation-logo {
  margin-left: 5%;
}

.navigation-logo span {
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  font-size: 220%;
  color: white;
  line-height: 1;
}

.navigation-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.navigation-item {
  margin-right: 5px;
}

.navigation-item:last-child {
  margin-right: 5%;
}
