.section-about-us p {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 150%;
}

.section-container__statement-list {
  margin-top: 80px;
  display: flex;
}

.statement-list__statement-card {
  flex: 1 1 100%;
  margin-right: 20px;
}

.statement-list__statement-card:last-child {
  margin-right: 0;
}
