.SectionMemberRegistration {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4285f4;
  color: white;
}

.SectionMemberRegistration p {
  font-size: 25px;
  padding-bottom: 50px;
}

.SectionMemberRegistration_GoogleForm {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}
