.SectionMembers_header {
  padding-bottom: 50px;
}

.SectionMembers_memberRequirementsCards {
  margin: 0 100px;
}

.MemberRequirementCard {
  margin-bottom: 80px;
}

.MemberRequirementCard:last-child {
  margin-bottom: 0;
}
